/* Marcellus */
@font-face {
    font-family: 'Marcellus', serif;
    src: url("/static/fonts/marcellus/Marcellus-Regular.ttf") format("truetype");
    // src: url(/static/fonts/marcellus/Marcellus-Regular.woff2) format('woff2');
    font-weight: 400;
}