.about {
    &__description {
        @include typo-body-m;
        margin-top: 2rem;
    }

    &__timeline {
        display: flex;
        justify-content: center;
        margin-top: 2rem;


        img {
            display: block;
            width: 100%;
            max-width: 454px;
        }
    }
}