@import '/src/scss/style.scss';
@import './hero.scss';
@import './about.scss';
@import './projects.scss';
@import './contact.scss';

.home {
    padding-bottom: 10rem;
}

.title_ctn {
    width: 100%;
    text-align: left;
    overflow: hidden;
}