
.hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
    width: 100%;

    @include mq-medium {
        height: auto;
        flex-direction: column-reverse;
        justify-content: start;
        padding-top: 6rem;
    }

    &__title {
        @include typo-heading-l;
        position: relative;
        width: 60%;
        color: var(--color-secondary);
        z-index: 2;

        @include mq-medium {
            width: 100%;
            text-align: center;
        }

        span {
            position: relative;
            display: inline-block;
            color: var(--color-primary);
            cursor: crosshair;
            // background-color: var(--color-secondary);
            // padding: 0 1rem;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: -1;
                transform: scale(1.05);
                background-color: var(--color-secondary);
            }
        }
    }

    &__webgl {
        position: relative;
        height: 100%;
        width: 40%;
        z-index: 2;
    }
}