@import './vars/index';
@import './home/hero.scss';

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: var(--color-primary);
}

.app {
    width: 100%;
    max-width: 1040px;
}