@import './vars/index';
@import './home/index.scss';

html {
    font-size: 16px;

    @include mq-large {
        font-size: 12px;
    }

    @include mq-small {
        font-size: 10px;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: var(--color-primary);
    cursor: none;
}

.app {
    width: 100%;
    max-width: 1040px;
    box-sizing: border-box;
    padding: 0 120px;
    color: var(--color-secondary);

    @include mq-medium {
        padding: 0 80px;
    }

    @include mq-small {
        padding: 0 20px;
    }
}

h2 {
    @include typo-heading-s;
}

#cursor {
    --cursor-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--cursor-size);
    width: var(--cursor-size);
    border-radius: 50%;
    background-color: var(--color-secondary);
    transition: height .4s ease-in-out, width .3s ease-in-out, transform .1s ease-out;
    will-change: transform height width;
    pointer-events: none;
    z-index: 100;

    &.hovered {
        height: calc(var(--cursor-size) * var(--cursor-hovered_size_coef));
        width: calc(var(--cursor-size) * var(--cursor-hovered_size_coef));
        mix-blend-mode: difference;
    }
}