@import './vars/index';

html {
    font-size: 16px;

    @include mq-large {
        font-size: 12px;
    }

    @include mq-small {
        font-size: 10px;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    background-color: var(--color-primary);
    // cursor: none;
}

.app {
    width: 100%;
    max-width: 1040px;
    box-sizing: border-box;
    padding: 0 120px;
    color: var(--color-secondary);

    @include mq-medium {
        padding: 0 80px;
    }

    @include mq-small {
        padding: 0 20px;
    }
}

h2 {
    @include typo-heading-s;
}

#cursor {
    --cursor-size: 20px;
    --cursor-hovered_size_coef: 3;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--cursor-size);
    width: var(--cursor-size);
    border-radius: 50%;
    background-color: var(--color-secondary);
    transition: height .4s ease-in-out, width .3s ease-in-out, transform .1s ease-out;
    will-change: transform height width;
    pointer-events: none;
    z-index: 100;

    picture, img {
        display: block;
        height: 100%;
        width: 100%;
    }

    picture {
        display: none;
    }

    img {
        object-fit: cover;
    }

    &.hovered {
        height: calc(var(--cursor-size) * var(--cursor-hovered_size_coef));
        width: calc(var(--cursor-size) * var(--cursor-hovered_size_coef));
        mix-blend-mode: difference;
    }

    &.name {
        height: 68vh;
        width: 54vh;
        top: 40px;
        left: -120px;
        border-radius: 0;
        transition: height .4s ease-in-out, width .3s ease-in-out, transform .8s ease-out;
        z-index: 1;
        mix-blend-mode: normal;

        picture {
            display: block;
        }
    }
}